@using Fsd.Lukasz.Cs.Ex4.Data.Entities;
@using Fsd.Lukasz.Cs.Ex4.Models;
@using PagedList.Mvc;
@using PagedList;

@model  ProductModelView
<br />
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Producent</th>
            <th>Model</th>
            <th>Rok Produkcji</th>
            <th>Cena</th>
            <th>Typ produktu</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var product in Model.ProductList)
            {
            <tr>
                <td>@product.Producer</td>
                <td>@product.Model</td>
                <td>@product.ProductionDate</td>
                <td>@product.Price</td>
                <td>@product.Type</td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model.ProductList, page => Url.Action("List", "Product", new { page, itemsPerPage = Model.ProductList.PageSize }))